-e git+https://github.com/phovea/phovea_data_redis.git@vstoiber/update_requirements#egg=phovea_data_redis
-e git+https://github.com/phovea/phovea_server.git@vstoiber/logging_behaviour_and_dependencies#egg=phovea_server
celery[redis,auth,msgpack]==4.4.7
