celery[redis,auth,msgpack]==4.2.2
-e git+https://github.com/phovea/phovea_data_redis.git@release-7.0.0#egg=phovea_data_redis
-e git+https://github.com/phovea/phovea_server.git@release-7.0.0#egg=phovea_server